.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh; }

.heart {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
  .heart::before, .heart::after {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    position: absolute; }
  .heart::before {
    top: -100px;
    left: 0; }
  .heart::after {
    top: 0;
    left: -100px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

img {
  width: 500px;
  height: 700px; }

.i {
  width: 400px;
  height: 800px; }

@media (max-width: 376px) {
  .heart,
  .heart::before,
  .heart::after {
    width: 180px;
    height: 180px; }
  img {
    width: 400px;
    height: 600px; }
  .i {
    width: 300px;
    height: 800px; } }
